---
import { getEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro'
import Blog from '../../components/Blog.astro'

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob('../../content/**/*.md');
  // so that Astro knows which tag grouping the result is for.
  // Make sure that you pass `{params: {tag}}` to `paginate()`
  return allPosts.map(({ frontmatter }) => {
    return {
      params: { slug: frontmatter.slug },
    }
  })
}

// parmas from routes
const { slug } = Astro.params;

// Get a single entry from a collection.
// Requires the name of the collection and either
// the entry `slug` (content collections) or `id` (data collections)
const entry = await getEntry('article', slug);
const { Content, headings } = await entry.render();
---
<Layout title="Welcome to Astro.">
  <Blog 
    title={entry.data.title} 
    date={entry.data.date} 
    time={entry.data.time}
    author="Naufal Rabbani" 
    tags={entry.data.tags} 
  >
    <Content />
  </Blog>
	<main>
    <h1 class="post-title mb-2 text-3xl font-bold">Post Title</h1>
    <div class="post-meta mb-8">
      <div class="flex">
        <div class="date mr-2">2 April 2024</div>
        <div class="author mr-2">by Naufal Rabbani</div>
      </div>
      <div class="tags block mt-2">
        {entry.data.tags.split(', ').map((tag) => (
          <a class="m-1 bg-yellow-100 px-2 py-1 rounded-md" href="#">{tag}</a>
        ))}
      </div>
    </div>
    <div class="post-content">
      <Content />
    </div>
	</main>
</Layout>


<style is:global>
.post-content {
  line-height: 1.6;
  font-size: 16px;
}

.post-content h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.post-content h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.post-content > p {
  color: #2b2b2b;
  padding-bottom: 16px;
  margin-bottom: 0px;
} 

.post-content blockquote {
  color: rgb(0, 150, 136);
  margin: 20px 0px;
  padding: 7px 15px;
  font-style: italic;
  font-size: 20px;
  line-height: 1.5;
}

.post-content blockquote > p {
  margin: 0px;
}

.post-content hr {
  width: 75%;
  border: 1px solid rgb(222, 222, 222);
  margin: 35px auto;
}

.post-content a {
  color: rgb(1, 139, 249);
  text-decoration: underline;
}

.post-content img {
  width: 100%;
  border-radius: 7px;
}

</style>
